<div class="col-md-12 col-sm-12 about-team">
	<div class="testmonial-img wow fadeInLeft">
		{{ content.field_image }}
	</div>
	<div class="testimonial-caption wow fadeInRight">
		{{ content.body }}
		<p>
			<strong>-{{ content.field_client_name }}</strong>
		</p>
	</div>
</div>
