<div class="portfolio-item wow fadeInUp">
	<a href="#" class="portfolio-popup">
		{{ content.field_image }}
		<div class="portfolio-overlay">
			<div class="portfolio-info middle">
				<p class="wow fadeInUp"></p>
				<h4>{{ label }}</h4>
				<p>{{ content.field_client }}</p>
				<p>{{ content.field_short_description }}</p>
			</div>
		</div>
	</a>
</div>
