<div class="col-md-3 col-sm-6 team-members wow fadeInLeft">
	{{ content.field_image }}
	<div class="services-caption">
		<h5>{{ content.field_name }}</h5>
		<p>{{ content.field_designation }}</p>
		<div class="social">
			{{ content.field_social_links }}
		</div>
	</div>
</div>
