<div class="item wow fadeInUp">
	<a href="/services">
		<div class="col-md-12 col-sm-12">
			<div class="services-img">
				{{ content.field_image }}
			</div>
			<div class="services-caption text-center">
				<h5>{{ name }}</h5>
				<p>Category Name</p>
			</div>
		</div>
	</a>
</div>
