<div class="row">
	<div class="col-md-4  col-sm-12 col-xs-12 categories">
		<div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
			<a href="images/thumb4.jpg" class="portfolio-popup">
				<img src="images/thumb4.jpg" alt="">
				<div class="portfolio-overlay">
					<div class="portfolio-info middle">
						<p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
						<h4>Title</h4>
						<p>Client Name</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
						<p></p>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-md-4  col-sm-12 col-xs-12 categories">
		<div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
			<a href="images/thumb5.jpg" class="portfolio-popup">
				<img src="images/thumb5.jpg" alt="">
				<div class="portfolio-overlay">
					<div class="portfolio-info middle">
						<p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
						<h4>Title</h4>
						<p>Client Name</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
						<p></p>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-md-4  col-sm-12 col-xs-12 categories">
		<div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
			<a href="images/thumb6.jpg" class="portfolio-popup">
				<img src="images/thumb6.jpg" alt="">
				<div class="portfolio-overlay">
					<div class="portfolio-info middle">
						<p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
						<h4>Title</h4>
						<p>Client Name</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
						<p></p>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-md-4  col-sm-12 col-xs-12 categories">
		<div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
			<a href="images/thumb7.jpg" class="portfolio-popup">
				<img src="images/thumb7.jpg" alt="">
				<div class="portfolio-overlay">
					<div class="portfolio-info middle">
						<p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
						<h4>Title</h4>
						<p>Client Name</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
						<p></p>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-md-4  col-sm-12 col-xs-12 categories">
		<div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
			<a href="images/thumb8.jpg" class="portfolio-popup">
				<img src="images/thumb8.jpg" alt="">
				<div class="portfolio-overlay">
					<div class="portfolio-info middle">
						<p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
						<h4>Title</h4>
						<p>Client Name</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
						<p></p>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-md-4  col-sm-12 col-xs-12 categories">
		<div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
			<a href="images/thumb9.jpg" class="portfolio-popup">
				<img src="images/thumb9.jpg" alt="">
				<div class="portfolio-overlay">
					<div class="portfolio-info middle">
						<p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
						<h4>Title</h4>
						<p>Client Name</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
						<p></p>
					</div>
				</div>
			</a>
		</div>
	</div>
	{% if rows %}
		{{ rows }}
	{% endif %}
</div>
