{% block content %}
	<section id="{{page}}-banner">
		{{ elements.field_image }}
		<div class="{{page}}-banner-caption mx-auto">
			<h1>
				<span>{{ elements.field_title }}</span>
			</h1>
		</div>
	</section>
{% endblock %}
