<section id="pricing" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
	<div class="container">
		<h2>{{ content.field_title }}</h2>
		<div class="row">
			{{ content.field_pricing_items }}
		</div>
	</div>
</section>
