<section id="about" class="text-center">
	<div class="container">
		<h2>{{ content.field_title }}</h2>
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 about-img wow fadeInLeft">
				{{ content.field_image }}
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 about-description wow fadeInRight">
				{{ content.field_description }}
			</div>
		</div>
		<a href="{{ content.field_cta.0['#url_title'] }}" class="btn btn-infos">Read More</a>
	</div>
</section>
